@font-face {
    font-family: 'bebas neue';
    font-weight: normal;
    src: url("fonts/bebas-neue/bebasneue-regular.otf") format("opentype");
  }
  
  @font-face {
    font-family: 'bebas neue';
    font-weight: normal;
    src: url("fonts/bebas-neue/bebasneue-regular.ttf") format("opentype");
  }
