@font-face {
    font-family: 'Gotham';
    src: url('fonts/gotham/Gotham-Book.eot?v2'); /* IE9 Compat Modes */
  	src: url('fonts/gotham/Gotham-Book.eot?v2#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/gotham/Gotham-Book.woff2?v2') format('woff2'), /* Super Modern Browsers */
       url('fonts/gotham/Gotham-Book.woff?v2') format('woff'), /* Pretty Modern Browsers */
       url('fonts/gotham/Gotham-Book.ttf?v2')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/gotham/Gotham-Book.svg?v2#svgGotham') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}