@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/Oswald-BoldItalic.eot'); /* IE9 Compat Modes */
  	src: url('fonts/oswald/Oswald-BoldItalic.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/oswald/Oswald-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/oswald/Oswald-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/oswald/Oswald-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/oswald/Oswald-BoldItalic.svg#svgGotham') format('svg'); /* Legacy iOS */
    font-weight: bold;
    font-style: italic;
}