@font-face {
  font-family: Pressio;
  font-weight: normal;
  src: url("fonts/pressio/Pression-Medium.otf") format("opentype");
}

// @font-face {
//   font-family: Sporty;
//   font-weight: 900;
//   font-stretch: normal;
//   src: url("fonts/sporty/SportyPro-Black.otf") format("opentype");
// }

// @font-face {
//   font-family: Sporty;
//   font-weight: 900;
//   font-stretch: condensed;
//   src: url("fonts/sporty/SportyPro-BlackCD.otf") format("opentype");
// }
