
@mixin md{
    @media (min-width: 1200px) { @content; }
}

.c-home{
    height: 82vh;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: end;

    .home{
        &-title{
            position: absolute;
            top: 20%;
            font-size: 160px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 5px;
            color: rgba(175,146,194, 0.5);
        }
        &-img{
            z-index: 2;
            max-height: 600px;
        }
    }
}